.start-screen {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* .regular-btn {
  background-color: forestgreen;
  border: 2px solid black;
} */